html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

a:active,
a:hover,
a {
  text-decoration: none;
  color: black;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: "TTLakes", Arial, sans-serif;
}

/*ОБЩИЕ*/
@import 'h2-title';
@import "menu-button";
@import "menu-link";
@import "logo";


/*ШАПКА*/
@import "header";
@import "menu";

/*БОКОВОЕ МЕНЮ*/
@import './left-menu/left-menu.scss';
@import "./left-menu/left-menu-header";
@import "./left-menu/left-menu-content";
@import "./left-menu/left-menu-footer";
@import "./left-menu/contacts";
@import "./left-menu/language";

/*СТРАНИЦА*/
@import "content";
@import "page-name-container";
@import "page-content";
@import "expand-button";

/*БРЕНДЫ+СВАЙПЕР*/
@import "repairing-brands";
@import "brand-list";
@import "brand-list-container";
@import "brand-card";





@import 'css_swiper.min';

/******************************************/
/******************************************/
/******************************************/

.swiper-slide {
  width: 240px;
}

@media (min-width: 768px) {
  .swiper-slide {
    width: auto;
  }
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  line-height: 12px;
  background-color: #b5b6bc;
}
