html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

a:active,
a:hover,
a {
  text-decoration: none;
  color: black;
}

body {
  font-family: "TTLakes", Arial, sans-serif;
}

/**************************
**********HEADER***********
**************************/

.header {
  position: fixed;
  height: 88px;
  background-color: white;
  width: 100%;
  padding: 18px 16px;
  z-index: 1;
  box-shadow: #d9fff5 0 1px;
}

@media (min-width: 1120px) {
  .header {
    visibility: hidden;
    position: absolute;
  }
}

.menu {
  display: flex;
  justify-content: space-between;
}

.menu__buttons-container {
  display: flex;
  align-items: center;
}

.menu__main-menu-button {
  margin-right: 16px;
}

.menu__main-menu-button:last-child {
  margin-right: 0;
}

@media (min-width: 768px) {
  .menu__main-menu-button:nth-last-child(2) {
    margin-right: 0;
  }
}

.menu__main-menu-button--main {
  background-image: url(img/burger.svg);
}

.logo {
  height: 50px;
}

@media (min-width: 768px) {
  .menu__main-menu-button--home {
    order: 1;
  }
}

.menu-button {
  border: 0;
  background-color: transparent;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.menu__side-element {
  margin-right: 16px;
}

@media (min-width: 1120px) {
  .menu__side-element {
    margin-right: 32px;
  }
}

.menu__side-element:first-child,
.menu__side-element:last-child {
  margin-right: 0;
}

.menu__tablet-button {
  margin-right: 16px;
}

.menu__tablet-button:last-child {
  margin-right: 0;
}

.menu__side-element--tablet {
  display: none;
}

@media (min-width: 768px) and (max-width: 1120px) {
  .menu__side-element--tablet {
    display: flex;
    align-items: center;
    order: -2;
  }
}

@media (min-width: 1120px) {
.menu__buttons-container--side {
visibility: visible;
position: absolute;
top: 42px;
right: 32px;
}
}

.menu__tablet-button--call {
  background-image: url(img/call.svg);
}

.menu__tablet-button--chat {
  background-image: url(img/chat.svg);
}

.menu__tablet-button--profile {
  background-image: url(img/profile.svg);
}

.menu__side-element {
  background-repeat: no-repeat;
  background-position: right;
}

.menu__side-element--repair {
  background-image: url(img/repair.svg);
}

.menu__side-element--status {
  background-image: url(img/checkstatus.svg);
}

.menu-link {
  height: 40px;
  width: 40px;
}

.menu-link__txt {
  display: none;
  color: #1b1c21;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; 
  letter-spacing: -0.2px;
}

@media (min-width: 1120px) {
  .menu-link__txt {
    display: inline;
    white-space: nowrap;
    margin-right: 48px;
    margin-right: 48px;
  }

  .menu-link {
    display: flex;
    width: auto;
    align-items: center;
  }
}

.menu__buttons-container::after {
  content: "";
  width: 2px;
  height: 32px;
  background-color: #eaeaea;
  border-radius: 1px;
  margin: 0 16px;  
}

.menu__buttons-container--side::after {
  content: none;
}

@media (min-width: 768px) and (max-width: 1120px) {
  .menu__buttons-container::after {
    margin: 0 20px;
  }

  .menu__buttons-container--side::after {
    content: "";
    order: -1;    
  }
}

/**************************
*********CONTENT***********
**************************/

.content {
  padding: 112px 16px 0;
  background-color: #f8f8f8;
}

@media (min-width: 768px) {
  .content {
    padding: 112px 24px 40px;
  }
}

@media (min-width: 1120px) {
  .content {
    padding: 42px 34px 50px;
  }
}

.page-name-container {
  color: #1b1c21;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 142.857% */
  letter-spacing: -0.6px;

  display: flex;
  align-items: center;
  margin-right: -50px;
}

.content__page-name-container {
  margin-bottom: 24px;
  margin-left: -20px;
}

@media (min-width: 768px) {
  .content__page-name-container {
    margin-bottom: 32px;
    margin-left: -28px;
  }
}

@media (min-width: 1120px) {
  .content__page-name-container {
    margin-bottom: 9px;
    margin-left: -38px;
  }
}

.page-name-container::before {
  content: "";
  height: 40px;
  width: 8px;
  border-right: 4px solid #41f6d7;
  border-radius: 4px;
  display: inline-block;
  margin-right: 12px;
}

@media (min-width: 768px) {
  .page-name-container::before {
    margin-right: 24px;
  }
}

@media (min-width: 1120px) {
  .page-name-container::before {
    margin-right: 32px;
  }
}

.page-content {
  display: flex;
  overflow: auto;
  white-space: nowrap;
}

.content__page-content {
  margin: 0 -16px 24px;
  padding-left: 16px;
}

@media (min-width: 768px) {
  .content__page-content {
    margin: 0 -24px 24px;
    padding-left: 24px;
  }
}

@media (min-width: 1120px) {
  .page-content {
    white-space: nowrap;
    flex-wrap: wrap;
    margin: 0 0 12px 0;
  }

  .content__page-content {
    padding-left: 0;
  }
}

.page-content a {
  padding: 8px 17px;
  color: #7e7e82;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.2px;
}

.page-content__element--active {
  border-radius: 6px;
  border: 2px solid #b8ffec;
  background: #fff;
}

.page-content__fade {
  display: inline-block;
  position: absolute;
  width: 24px;
  height: 40px;
  right: 0;
  background: linear-gradient(
    270deg,
    #f8f8f8 16.84%,
    rgba(248, 248, 248, 0) 100%
  );
}

.content__right-column {
  margin: 0 -16px;
}

@media (min-width: 768px) {
  .content__columns {
    display: flex;
  }

  .content__left-column {
    width: 50vw;
    padding-right: 48px;
  }

  .content__right-column {
    width: 50vw;
    margin: 0;
  }
}

@media (min-width: 1120px) {
  .content__left-column {
    padding-right: 36px;
  }
}

.content__text-window {
  margin-bottom: 16px;
  height: 90px;
  overflow: hidden;
}

@media (min-width: 768px) {
  .content__text-window {
    height: 160px;
    margin-bottom: 10px;
  }
}

@media (min-width: 1120px) {
  .content__text-window {
    margin-bottom: 14px;
    height: auto;
  }
}

.content__text {
  margin-bottom: 1.28571em;
  color: #1b1c21;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 18px; /* 128.571% */
}

@media (min-width: 768px) {
  .content__text {
    line-height: 20px;
  }
}

.content__text:last-child {
  margin-bottom: 0;
}

.content__expand {
  margin-bottom: 16px;
}

.expand-button {
  display: flex;
  align-items: center;
  padding-left: 32px;
  height: 24px;
  color: #1b1c21;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.2px;
  background-image: url(img/expand.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
  border: 0;
}

.content__photo {
  padding-top: 50%;
  width: 100%;
  background-image: url(img/cps_enter_logo_768.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: 0 50%;
}

@media (min-width: 768px) {
  .content__photo {
    border-radius: 6px;
  }
}
