.brand-card {
  min-height: 72px;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 0 16px;

  @media (min-width: $tablet-breakpoint) {
    width: 100%;
    box-sizing: border-box;
  }

  &__link {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background: url(../img/go.svg) no-repeat 50% 50%;
  }
}

