.expand-button {
  display: flex;
  align-items: center;
  padding-left: 32px;
  height: 24px;
  color: #1b1c21;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.2px;
  background-image: url(../img/expand.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
  border: 0;

  @media (min-width: $tablet-breakpoint) {
    display: flex;
  }

  &--show {
    background-image: url(../img/expand.svg);
  }

  &--hide {
    background-image: url(../img/hide.svg);
    margin-bottom: 14px;
  }
}
