.repairing-devices {
  // background-color: #f8f8f8;
  // border-bottom: 1px solid #f8f8f8;

  &__container {
    &::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 24px;
      height: 81px;
      left: 0;
      top: 12px;
      z-index: 100;
      background: linear-gradient(
        270deg,
        rgba(248, 248, 248, 0) 0%,
        #f8f8f8 83.16%
      );
      border: 5px red solid;
    }

    &::after {
      content: "";
      display: inline-block;
      position: absolute;
      width: 24px;
      height: 81px;
      right: 0;
      top: 12px;
      z-index: 100;
      background: linear-gradient(
        270deg,
        #f8f8f8 16.84%,
        rgba(248, 248, 248, 0) 100%
      );
      border: 5px red solid;
    }
  }

  &__list {
    @media (min-width: $tablet-breakpoint) {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
      gap: 24px;
    //   padding: 24px 24px 0px 24px;
      overflow: hidden;
      box-sizing: border-box;
    }

    @media (min-width: $desktop-breakpoint) {
    //   padding: 24px 32px 0px 32px;
    }

    &--minimazed {
      @media (min-width: $tablet-breakpoint) {
        // height: 185px;
      }
    }

    &--expanded {
      @media (min-width: $tablet-breakpoint) {
        // height: auto;
      }
    }
  }

  &__swiper-slide {
    width: 240px;

    @media (min-width: $tablet-breakpoint) {
      width: auto;
    }
  }
}
