.repairing-prices {
  min-height: 200px;
  display: block;
  padding: 16px;

  &__text-title {
    color: #7e7e82;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 114.286% */
    margin-bottom: 4px;
  }

  &__text {
    color: #1b1c21;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    letter-spacing: 0.2px;
    margin-bottom: 16px;
  }

  &__order {
    position: absolute;
    bottom: 28px;
    right: 24px;
    color: #fff;    
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 200% */
    letter-spacing: -0.15px;
    text-transform: uppercase;
    width: 119px;
    height: 32px;
    border-radius: 16px;
    padding-left: 12px;
    background: url(../img/order.svg) #FF3E79 no-repeat 95%;    
  }
}
